/* fonte externa */
@font-face {
    font-family: Bondoni;
    src: url(../fonts/pt-bodoni-condensed-cyrillic.otf);
}

/* body */
body{
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* header */
header{
    margin-bottom: 2%;
}
header div{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2%;
}
header h1{
    font-family: Bondoni;
    font-size: 50px;
    color: #f2c548;
    margin-left: 2%;
}
header img{
    width: 150px;
}

/* nav */
nav{
    background-color: #521011;
    padding: 7.5px;
}
nav a{
    margin-left: 2%;
    text-decoration: none;
    color: white;
}
nav a:hover{
    background-color: #f2c548;
    color: white;
    padding: 10px;
}

/* main */

main{
    width: 50%;
}
main img{
    width: 750px;
}